.screen {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg);
  background-size: cover;
  background-position: center;
  color: var(--color-text);

  /* Safe Area */
  padding-top: calc(env(safe-area-inset-top));
  padding-bottom: calc(env(safe-area-inset-bottom));
}

.overlay {
  position: absolute;
  inset: 0;
  background: var(--gradient-image-overlay);
}

.scrim {
  position: absolute;
  inset: 0;
  background: var(--gradient-image-scrim);
}

.content {
  position: relative;
  z-index: 1;
  height: 100%;
}
