.shell {
  --page-title-offset: 87px;
  --page-bottom-space: 60px;
}

.body {
  gap: 17px;
  padding-bottom: 13px;
}

.imageBoxArea {
  display: flex;
  justify-content: center;
}

.inputArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

.label {
  composes: body from "@/shared/styles/typography.module.css";
  display: block;
}

.ctaArea {
  align-items: center;
  gap: 6px;
  padding-bottom: 18px;
}

.ctaCaption {
  composes: caption from "@/shared/styles/typography.module.css";
  z-index: 1;
  /* Safari 렌더링 버그 해결 */
  transform: translateZ(0);
}
