.shell {
  --page-title-offset: 87px;
  --page-bottom-space: 60px;
}

.body {
  padding-bottom: 11px;
}

.previewContainer {
  display: flex;
  justify-content: center;
}

.previewArea {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}

.imagePreview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 228px;
  overflow: hidden;
  border-radius: var(--radius-image);
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholderLabel {
  composes: caption from "@/shared/styles/typography.module.css";
  color: var(--color-text);
}

.messagePreview {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  text-align: left;
  line-height: normal;
  font-style: normal;
}

.previewMessage {
  composes: small from "@/shared/styles/typography.module.css";
  white-space: pre-wrap;
}

.previewMessageCaption {
  composes: caption from "@/shared/styles/typography.module.css";
  text-shadow: none;
}

.ctaArea {
  gap: 12px;
}

.ctaCaption {
  composes: small from "@/shared/styles/typography.module.css";
  z-index: 1;
  /* Safari 렌더링 버그 해결 */
  transform: translateZ(0);
}

.ctaButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
